In [1]:
# set is unordered collocation of data item/type.
# and remove the duplice its store olny unique value
# set is mutable
s=({1,2,3,4,5,5,7,8,7,9})
li=list(s)
print(li,type(li))
print(s,type(s))
l=list(s)
print(l,type(l))

[1, 2, 3, 4, 5, 7, 8, 9] <class 'list'>
{1, 2, 3, 4, 5, 7, 8, 9} <class 'set'>
[1, 2, 3, 4, 5, 7, 8, 9] <class 'list'>

In [2]:
s=({1,2,3,4,5,5,7,8,7,9})
s.add(10)
print(s)
print(s.clear()) #we also have clear() method. Which will removes all the elements from the sets.
s.add(2)
s.add(5)
s.add(8)
s.add(9)
print(s,"length of set ",len(s))

{1, 2, 3, 4, 5, 7, 8, 9, 10}
None
{8, 9, 2, 5} length of set  4

In [3]:
# How to update an elements....
# set is mutable collection type so it will perform the updation inplace.
# To update the set with new values we have a method called update().
sa=({'c','C++','Java','Ruby'})
print(sa,id(sa))
sa.update({'Python','Java script','C#'})
print(sa,id(sa))

{'c', 'Java', 'Ruby', 'C++'} 92478680
{'c', 'Python', 'C#', 'Java', 'Java script', 'Ruby', 'C++'} 92478680

In [4]:
# How to copy set...
# similar to list and tuple we can use copy()method with set as well. By default copy method do shallow copy.

s={1,2,3,4,5,6}
s1=s.copy()
print(id(s))
print(id(s1))

92478800
92478920

In [5]:
# Removing elements...
#List have ordering so we can remove elements by position. for example--- list_item[0]
# Can be removed specific items using remove() method.
list_item=[1,2,3,4,5,6,4]
list_item.remove(5)
print(list_item)
# If item which we trying to remove is not present will get keyError.
# To avoid KeyError Exception we can uses.
s={1,2,3,10,5,6}
s.discard(10)
print(s)

[1, 2, 3, 4, 6, 4]
{1, 2, 3, 5, 6}

In [6]:
# it will not throw an exception if item not found.
s={1,2,3,10,5,6}
s.discard(9)
print(s)

{1, 2, 3, 5, 6, 10}

In [7]:
# Removing Elements cont.....
# we also hsve pop() method.
#   s.pop()
s={1, 2, 3, 5, 6}
s.pop()
print(s)
s.pop()
print(s)

{2, 3, 5, 6}
{3, 5, 6}

In [8]:
# s=set()
# print(type(s))
# s.discard(10)
# print(s)
# s=set()
# s.pop()
# print(s)

In [9]:
s={'google','Apple','TCS'}
s1={'Python',"Java",'C++','Apple'}
s2=s.difference(s1)
print(s2)
s3=s1.difference(s)
print(s3)

{'google', 'TCS'}
{'Java', 'Python', 'C++'}

In [10]:
s={'google','Apple','TCS'}
s1={'Python',"Java",'C++','Apple'}
s.difference_update(s1)
print(s)
s1.difference_update(s)
print(s1)

{'google', 'TCS'}
{'Java', 'Python', 'Apple', 'C++'}

In [11]:
s={'google','Apple','TCS'}
s1={'Python',"Java",'C++','Apple'}
x=s.intersection(s1)
print(x)

{'Apple'}

In [12]:
s={'google','Apple','TCS'}
s1={'Python',"Java",'C++','Apple'}
s.intersection_update(s1)
print(s)

{'Apple'}

In [13]:
a=10
A=10
print(id(a))
print(id(A))

1931765056
1931765056

In [14]:
print(9%4)

1

In [15]:
print(4//9)
print(4/9)

0
0.4444444444444444

In [16]:
print(2**4)
print(4**4)

16
256

In [17]:
# =, +=, -=, * =, /=, %=, //=, **=
a=5
a-=-5
print(a)

10

In [18]:
# ==, !=, >, >=, <, <=
print(5!=5)
print(5>=5)
print(5<=5)
print(5<4)

False
True
True
False

In [19]:
a = [10,20,30]
print(a,id(a),id(a[0]))
a[0] = 5
print(a,id(a),id(a[0]))

[10, 20, 30] 95270112 1931765056
[5, 20, 30] 95270112 1931764976

In [20]:
# List is Mutable
a = [1,2,3]
b = [1,2,3]

print(a,b)
print(id(a),id(b))

print(a==b)
print(a is b)

[1, 2, 3] [1, 2, 3]
92870616 92870816
True
False

In [21]:
# Numbers are immutable
a = 5
b = 5

print(a,b)
print(id(a),id(b),id(5))

print(a == b)
print(a is b)

5 5
1931764976 1931764976 1931764976
True
True

In [22]:
# List is Mutable
a = {1,2,3}
b = {1,2,3}

print(a,b)
print(id(a),id(b))

print(a==b)
print(a is b)

{1, 2, 3} {1, 2, 3}
95416488 95417088
True
False

In [23]:
# List is Mutable
a = {1:'p',2:'c',3:'e'}
b = {1:'p',2:'c',3:'e'}

print(a,b)
print(id(a),id(b))

print(a==b)
print(a is b)

{1: 'p', 2: 'c', 3: 'e'} {1: 'p', 2: 'c', 3: 'e'}
95433232 95435104
True
False

In [24]:
a="python"
b="python"

print(a,b)
print(id(a),id(b))

print(a==b)
print(a is b)

python python
54812096 54812096
True
True

#  for loop

In [25]:
exp= [1200,4500,7800]
total =0
for i in exp:
    total = total + i
print(total)

13500

In [26]:
exps= [1200,4500,7800]
total =0
for i in range(len(exps)):
    ex=exps[i]
    print(f'Month {i+1}, expense: {ex}')
    total -=-ex
print('Total exp: ',total)

Month 1, expense: 1200
Month 2, expense: 4500
Month 3, expense: 7800
Total exp:  13500

In [27]:
language=['C','C++','Python','C#','Java']
findlang='Python'
for i in language:
    if i == findlang:
        print("find")
        break
    else:
        print('Not Found')

Not Found
Not Found
find

In [28]:
# even num
for i in range(11):
    if i%2==0:
        print(i,end=" ")
print("Even ")

# Odd num
for i in range(11):
    if i% 2==1:
        print(i,end=" ")
print("Odd") 

# Odd num
for i in range(11):
    if i%2==0:
        continue
    print(i,end=" ")
print("Odd ")

# Odd num
for i in range(11):
    if i% 2==1:
        continue
    print(i,end=" ")
print("Even")

0 2 4 6 8 10 Even
1 3 5 7 9 Odd
1 3 5 7 9 Odd
0 2 4 6 8 10 Even

In [29]:
lils=[1,2,3,4,5,6,7]
fin=4
for i in lils:
    if i ==fin:
        break
    print("four is find")
else:
    print("four is not find")

four is find
four is find
four is find

In [30]:
l=[1,2,3,4,5,6,7,8,9]

print(l[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [31]:
l=[1,2,3,4,5,6,7,8,9]
print(l[2:6:2])

[3, 5]

In [32]:
l=[1,2,3,4,5,6,7,8,9]
print(l[-1::])
print(l[::-1])
print(l[::])

[9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
n=int(input("Enter the num "))
while n%7 !=0:
    n=int(input("enter multiple of 7: "))
else:
    print("%d is a multiple of 7"%n)

Enter the num 5
enter multiple of 7: 14
14 is a multiple of 7

In [34]:
l=[23,45,78,45]
total=0
for item in l:
    total-=-item
print("total is ",total)

total is  191

In [35]:
def star(n):
    for i in range(n):
        print("*"*i)
        
o=star(5)

*
**
***
****

In [36]:
#Write a function called calculate_area that takes base and height as an input and 
#returns and area of a triangle. Equation of an area of a triangle is
# area = (1/2)*base*height
def triangle(base,height):
    area=(1/2)*base*height
    return area

o=triangle(10,12)

In [61]:
# we can set defult value in function argument becuse 
# if user is not enter enter the radius and height it will be get defult value.
def cylinder(radius,height=1):
    print("Radius ",radius)
    print("Height ",height)
    volume=3.14*(radius**2)*height
    return volume
r=4
# h=10
print(cylinder(radius=r))

Radius  4
Height  1
50.24

In [68]:
# import math
# dir(math)

In [63]:
math.sqrt(45)

6.708203932499369

In [78]:
import calendar
# dir(calendar)
jan=calendar.month(2020,1, w=2, l=2)
print(jan)

    January 2020

Mo Tu We Th Fr Sa Su

       1  2  3  4  5

 6  7  8  9 10 11 12

13 14 15 16 17 18 19

20 21 22 23 24 25 26

27 28 29 30 31

In [70]:
calendar.isleap(2014)

False

In [79]:
d={'china':143,'India':136,'USA':32,'Pakistan':21}
print(d)

{'china': 143, 'India': 136, 'USA': 32, 'Pakistan': 21}

In [81]:
d["shri Lanka"]=19
d

{'china': 143, 'India': 136, 'USA': 32, 'Pakistan': 21, 'shri Lanka': 19}

In [85]:
d.keys()

dict_keys(['china', 'India', 'USA', 'Pakistan', 'shri Lanka'])

In [84]:
d.values()

dict_values([143, 136, 32, 21, 19])

In [ ]:
# file Handling
# opens file for reading only. Throws error if file does not exist.
f=open('filename.txt','r')
# open file for writing only. If file doesnt exist then it will create new one.
# if ir exist then it will overwrite it.
f=open('filename.txt','w')
# ooens file for reading and writing
f=open('filename.txt','r+')
# opens file for reading and writing. If file doesnt exit then
# it will create new one. If ir exist then it will overwrite it.
f=open('filename.txt','w+')
# opens a file in append mode. Whatever you write to file will get appended and
# originai content will not be overwritten