### Set (Mutable)

* Denoted by { } and items are separated using a ,
* No indexing, no order
* No duplicates ie. only unique items
* Only immutable objects allowed
* a = set() -> Empty Set
* Methods

In [87]:
set1 = {"H", "e", "l", "l", "o"}
# elements in curly braces
print(set1,type(set1))

set2 = set("Hello")
# passing string to set function
print(set2,type(set2))

set3 = set(["Python", "Java", "C++", "Ruby", "C#"])
# passing list to set function
print(set3,type(set3))

set4 = set(("H", "e", "l", "l", "o"))
# passing tuple to set function
print(set4,type(set4))

set5 = set()
# empty set
print(set5,type(set5))

{'l', 'e', 'o', 'H'} <class 'set'>
{'l', 'e', 'o', 'H'} <class 'set'>
{'Python', 'Ruby', 'C++', 'Java', 'C#'} <class 'set'>
{'l', 'e', 'o', 'H'} <class 'set'>
set() <class 'set'>

In [2]:
# passing list to set function
l=["Python", "Java", "C++", "Ruby", "C#"]
print(l,type(l))
set3 = set(l)
print(set3,type(set3))

s=(["Python", "Java", "C++", "Ruby", "C#"])
print(len(s))

# passing tuple to set function
t=("H", "e", "l", "l", "o")
print(t,type(t))
set4 = set(t)
print(set4,type(set4))

['Python', 'Java', 'C++', 'Ruby', 'C#'] <class 'list'>
{'Python', 'Ruby', 'C++', 'Java', 'C#'} <class 'set'>
5
('H', 'e', 'l', 'l', 'o') <class 'tuple'>
{'l', 'e', 'o', 'H'} <class 'set'>

In [3]:
t=("H", "e", "l", "l", "o")
print(t,type(t))
s="".join(str(t))
print(s,type(s))

('H', 'e', 'l', 'l', 'o') <class 'tuple'>
('H', 'e', 'l', 'l', 'o') <class 'str'>

In [4]:
# No duplicates ie. only unique items

s={1,2,1,4,5,8,1,2,2}
print(s)

{1, 2, 4, 5, 8}

In [5]:
s={1,2.4,(15,45,6),"hello"}
print(s,type(s))
# Below Statement will give an Error as set only allows
# Immutable objects and list is mutable
# s = {1,1.45,'HELLO',(10,20,30),[12,3]}
# print(s)

{1, 'hello', 2.4, (15, 45, 6)} <class 'set'>

## Properties of Set

In [6]:
# Union                 |
# Intersection          &
# Difference            -
# Symmetric Difference  ^

s1 = {1,2,3,4,5}
s2 = {4,5,6,7}
# Union - The union() method returns a new set with all items from both sets:
sets=s1 | s2
print(sets)
print(s1 |s2)
print(s1.union(s2))

# Intersection
sets= s1 & s2
print(sets)
print(s1 & s2)
print(s1.intersection(s2))

# Difference
sets= s1 - s2
print(sets)
print(s1 - s2)
print(s1.difference(s2))

# symmeric difference
sets=s1 ^s2
print(sets)
print(s1.symmetric_difference(s2))
print(s1^s2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{4, 5}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7}
{1, 2, 3, 6, 7}
{1, 2, 3, 6, 7}

In [7]:
# set method

# 'add','clear','copy',
#  'difference',
#  'difference_update','discard','intersection',
#  'intersection_update',
#  'isdisjoint','issubset','issuperset',
#  'pop','remove',
#  'symmetric_difference',
#  'symmetric_difference_update',
#  'union',
#  'update'

In [8]:
s = {1,2,3,4,5,6}
s1 = {1,2,3}
s2 = {8,9} 
# Returns whether another set contains this set or not
print(s1.issubset(s))
print(s2.issubset(s))

# Returns whether this set contains another set or not
print(s.issuperset(s1))
print(s1.issuperset(s))
#
print(s.issuperset(s2))
print(s2.issuperset(s))
# 	Returns whether two sets have a intersection or not
print(s2.isdisjoint(s))
print(s1.isdisjoint(s))

True
False
True
False
False
False
True
False

In [9]:
# intersection
a="HELLO"
b="PYTHON"
print(set(a).intersection(set(b)))

{'O', 'H'}

In [10]:
a="This is an example"
b="This is an ant"
print(set(a.split()).symmetric_difference(set(b.split())))

{'ant', 'example'}

In [11]:
a="python with machine learning"
b="machine learning"

print(set(a.split()).symmetric_difference(set(b.split())))
print(set(a).symmetric_difference(set(b)))

{'python', 'with'}
{'p', 'o', 't', 'y', 'w'}

In [42]:
help(set.pop)
help(set.discard)
help(set.remove)

Help on method_descriptor:

pop(...)
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

Help on method_descriptor:

discard(...)
    Remove an element from a set if it is a member.

    If the element is not a member, do nothing.

Help on method_descriptor:

remove(...)
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [76]:
# set- add methods
s=set({30,"python"})
print(s,type(s),id(s))
s.add(10)
print(s,type(s))
s.add(20)
print(s)
s.add("Machine learning")
print(s,type(s))

s.update(["python","Ruby","C++"])
print(s,type(s))

# remove - Note: If the item to remove does not exist, remove() will raise an error.
s.remove(30)
print(s)

# discard - If the item to remove does not exist, discard() will NOT raise an error.
s.discard(40)
print(s)

# copy - The clear() method empties the set:
d=s.copy()
print(d,id(d))

# pop - Note: Sets are unordered, so when using the pop() method, you will not know which item that gets removed.
s.pop()
print(s)

# clear
s.clear()
print(s,id(s))

{'python', 30} <class 'set'> 17956912
{'python', 10, 30} <class 'set'>
{'python', 10, 20, 30}
{10, 20, 'Machine learning', 'python', 30} <class 'set'>
{10, 'Ruby', 'C++', 20, 'Machine learning', 'python', 30} <class 'set'>
{10, 'Ruby', 'C++', 20, 'Machine learning', 'python'}
{10, 'Ruby', 'C++', 20, 'Machine learning', 'python'}
{'C++', 20, 'Machine learning', 'python', 10, 'Ruby'} 17640784
{'Ruby', 'C++', 20, 'Machine learning', 'python'}
set() 17956912

In [78]:
set1=({"Hello",456})
set2=({"python","machine leanrning"})
set1.update(set2)
print(set1)
sets=set(('python','java'))
print(sets,type(sets))

{456, 'python', 'machine leanrning', 'Hello'}
{'python', 'java'} <class 'set'>

# Frozenset(immutable)

In [49]:
# dir(frozenset) 
# 'copy',
#  'difference',
#  'intersection',
#  'isdisjoint',
#  'issubset',
#  'issuperset',
#  'symmetric_difference',
#  'union'

In [73]:
myset=["apple",'orange','mango']
print(type(myset))
a=frozenset(myset)
print(a,type(a))
a=set(myset)
print(a,type(a))

<class 'list'>
frozenset({'orange', 'mango', 'apple'}) <class 'frozenset'>
{'orange', 'mango', 'apple'} <class 'set'>

In [83]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [1]:
s=set("hello")
print(s,type(s))
a=list(s)
print(a,type(a))

{'e', 'l', 'h', 'o'} <class 'set'>
['e', 'l', 'h', 'o'] <class 'list'>

In [3]:
dob=1996
cdate=2020
age=cdate - dob
print(age)

24

In [4]:
f='kanha'
l="taak"
print(f"{f} {l}")

kanha taak

In [5]:
format(12,'b')

'1100'

In [7]:
c=3+4j
d=2-1j
e=d-c
print(e,type(e))

(-1-5j) <class 'complex'>

In [8]:
a=7-6.7
a

0.2999999999999998

In [12]:
a=7-6.7
round(7-6.7,3)

0.3

In [14]:
a=9
p=1.49
c=a*p
t=20
print(t-c)

6.59

In [15]:
le=5.5
area=le**2
cost=area*500
print(cost)

15125.0

In [48]:
s="python"
print(s[-3:])
print(s[:5])
print(s[3:])

hon
pytho
hon

In [24]:
lang=["python",'c','c++','java']
print('python' in lang)
'ruby' in lang

True

False

In [34]:
s='c++','java'
print(s.index('c++'))
print(s.index('java'))

0
1

In [35]:
a="captial of india is "
c="delhi"
print(a+c)

captial of india is delhi

In [37]:
a="Dist of rajasthan: "
c=33
print(a+str(c))

Dist of rajasthan: 33

In [46]:
import copy
A = [[90, 85, 82], [72, 88, 90]]
# A[0][1]=40
B = copy.deepcopy(A)
B[0][0]=30
print(A,id(A))
print(B,id(B))

[[90, 85, 82], [72, 88, 90]] 101683152
[[30, 85, 82], [72, 88, 90]] 101750624

In [47]:
import copy
A = [[90, 85, 82], [72, 88, 90]]
# A[0][1]=40
B = copy.copy(A)
B[0][0]=30
print(A,id(A))
print(B,id(B))

[[30, 85, 82], [72, 88, 90]] 101535536
[[30, 85, 82], [72, 88, 90]] 96690304

In [50]:
l=[30, 85, 82]
l2=[72, 88, 90]
li=l+l2
li.insert(2,10)
li

[30, 85, 10, 82, 72, 88, 90]

In [56]:
n=int(input("Enter the value: "))
msg= 'even' if n%2==0 else "odd"
msg

Enter the value: 5

'odd'

In [57]:
sugar=input("Please enter your tasting sugar level:")
sugar=float(sugar)
if sugar<80:
    print("Your sugar is low, go eat some jalebi :)")
elif sugar>100:
    print("Your sugar is high, stop eating all mithais..!")
else:
    print("Your sugar is normal, relax and enjoy your life!")

Please enter your fasting sugar level:12.5
Your sugar is low, go eat some jalebi :)

In [60]:
expances=[1200,1500,4500,3100]
total=0
for exp in expances:
    total-=-exp
print(total)

10300

In [ ]:
# ## Exercise: Python for loop
# 1. After flipping a coin 10 times you got this result,
# ```
# result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
# ```
# Using for loop figure out how many times you got heads
print("\nExercise 1\n")
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
count = 0
n=input('Enter a str: ')
for i in result:
    if i == "heads":
        count-=-1
    elif i=="tails":
        count-=-1
    else:
        print("not")
print(count)