In [1]:
name, age=input("enter the name and age: ").split(" ")
print(name)
print(age)

enter the name and age: sdfg 45
sdfg
45

In [2]:
name, lastname,mobile,age=input("enter your details: ").split(" ")
print(f"Name: {name} lastname: {lastname} Mobile: {mobile} Age: {age}")

enter your details: rert thn dgfhgh fgh
Name: rert lastname: thn Mobile: dgfhgh Age: fgh

In [3]:
name='hanumangarh'
print(name[4:7])

man

In [4]:
print(name[2::-1])

nah

In [5]:
name[:-3]

'hanumang'

In [6]:
name[::-2]

'hanmnh'

In [7]:
name[1::]

'anumangarh'

In [8]:
s='kanha'
# name[0]="K"
print(name)
new=s.replace('k','$')
print(new)
print(s)

hanumangarh
$anha
kanha

In [9]:
s='kanha'
# name[0]="K"
print(name)
new=s.replace('kanha','kanhaiya')
print(new)
print(s)

hanumangarh
kanhaiya
kanha

In [10]:
name="kanha"
name+="iya"
print(name)

kanhaiya

In [11]:
# while
i=1
while i<=10:
    print(f"{i} kanha")
    i-=-1

1 kanha
2 kanha
3 kanha
4 kanha
5 kanha
6 kanha
7 kanha
8 kanha
9 kanha
10 kanha

In [12]:
total=0
i=1
while i<=15:
    total=total+i
    i=i+1
print(total)

120

In [13]:
True and True

True

In [14]:
True and False

False

In [15]:
True or True

True

In [16]:
False or True

True

In [17]:
name="kanha"
s2="taak"
name.isalnum() and s2.isalpha()

True

In [18]:
name="kanha123"
s2="taak"
name.isalnum() or s2.isalpha()

True

In [19]:
name="kanha123"
s2="taak"
name.isalnum() and s2.isalpha()

True

In [20]:
name="kanha"
s2="taak"
name.isalnum() and s2.isalpha()

True

In [21]:
lst=[]
lst.append("kanha")

In [22]:
lst.append("HR")

In [23]:
lst.append(["taak","kanhaiya"])

In [24]:
lst

['kanha', 'HR', ['taak', 'kanhaiya']]

In [25]:
len(lst)

3

In [26]:
lst.insert(1,"Taak")

In [27]:
lst

['kanha', 'Taak', 'HR', ['taak', 'kanhaiya']]

In [28]:
lst.extend(["kanha",1997])
lst.extend([["kanha",1997]])

In [29]:
lst

['kanha', 'Taak', 'HR', ['taak', 'kanhaiya'], 'kanha', 1997, ['kanha', 1997]]

In [30]:
l=[1,2,4,5,7,8]

In [31]:
import pandas as pd
url="https://www.fdic.gov/bank/individual/failed/banklist.html"
df=pd.read_html(url)

In [32]:
df[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
1,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
2,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
3,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
4,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019"
...,...,...,...,...,...,...
555,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
556,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
557,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
558,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
559,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"

In [34]:

# df.to_csv("Bank_Data.csv",index=False)
# df

In [35]:
url2="http://www.delhihelp.com/hospitals-delhi-ncr-help-25.aspx"
df2=pd.read_html(url2,header=0)

In [36]:
df2[0]

,Unnamed: 0,Hospitals with Complete Address,Hospitals with Complete Address.1
0,1.0,All India Institute of Medical Sciences,"Ansari Nagar, New Delhi–110029"
1,2.0,Holy Family Hospital,"Okhla Road, Kamla Nagar, New Delhi-110025"
2,3.0,Central Research Institute for Ayurveda,"Road. No.66, Punjabi Bagh, New Delhi-110026"
3,4.0,Ganga Ram Hospital,"Rajinder Nagar, New Delhi-110060"
4,5.0,Majidia Hospital,"Jamia Humderd, Hamdard Nagar, New Delhi-110062"
5,6.0,B.L.Kapoor Memorial Hospital,"5, Pusa Road, Rajendra Place New Delhi-110060"
6,7.0,Jessa Ram Hospital,"DICS Pusa Road, Karol Bagh, New Delhi-110005"
7,8.0,Attar Singh Jain Charitable Hospital,Delhi
8,9.0,Sundarlal Jain Charitable Hospital,Delhi
9,10.0,Tirath Ram Shah Hospital,"2, R.B.L.Isher Das Sawhney Marg, Rajpur Road, ..."
10,11.0,Jivodhya Mission,"Ashok Vihar, Delhi"
11,12.0,Hamdarad Clinic and Hospital,"Asaf Ali Road, Delhi"
12,13.0,City Clinic and Nurshing Home,"Asaf Ali Road, Delhi"
13,14.0,Holy Angels Hospital,"Plot B, Community Centre Basant Lok, Vasant Vi..."
14,15.0,Mother & Child Hospital,"C-6/8, Safderjung Development Area,(Near IIT F..."
15,16.0,Mohinder Hospital,"C-5, Green Park Extension, NEW DELHI- 110016."
16,17.0,Sitaram Bhartia Institute of Science & Research,"B-16, Merhrauli Institutional Area, (Near Quta..."
17,18.0,Vasant Lok Hospital,"Vasant Vihar, NEW DELHI-110057."
18,19.0,Deepak Memorial Hospital,"Karkardooma, Delhi -l10092"
19,20.0,Narender Mohan Hospital,"Mohan Nagar, Ghaziabad, U.P. (Both Specialised..."
20,21.0,Batra Hospital & Medical Research Centre,"1, Tughlakabad Industrial Area, M.B. Road, New..."
21,22.0,"Escorts Hospital and Research Centre,",FARIDABAD (Haryana) (General purpose treatment...
22,23.0,Dr.Anand's Ultrasound and C.T.Scan.,"F-24, Preet Vihar, Vikas Marg, DELHI-110 092 U..."
23,24.0,Anand Hospital,"21 Community Centre, Preet Vihar, DELHI-110 09..."
24,25.0,"GMR Institute of Imaging Research,MRI Scan Centre","35-B, Pusa Road, New Delhi (Ultrasound, X-Ray ..."
25,26.0,Medical Laboratory Services,"E-67, Saket, New Delhi110 017"
26,27.0,South Delhi Ultrasound and X-Ray Clinic,"A-44, Hauz Khas, New Delhi 110016 (X-Ray and U..."
27,28.0,G.M.Modi Hospital and Research Centre,"Mandir Marg, Saket, New Delhi110017 (General P..."
28,29.0,Jaipur Golden Hospital,"2, Instituional Area, Rohini, New Delhi-110 03..."
29,30.0,Indraprastha Apollo Hospital,"Sarita Vihar, Delhi-Mathura Road, New Delhi-11..."
30,31.0,"Delhi C.T. & MRI Centre,","Aashlok Hospital, 25-A, Block A-B Community Ce..."
31,32.0,Dharmshila Cancer Hospital and Research Centre,"Vasundhara Enclave, DELHI-110 096"
32,33.0,D.R.Handa X-Ray & Diagnostic Centre,"B-87 Defence Colony, (Near Andrews Ganj Crossi..."
33,34.0,St.Stephens Hospital,"Tis Hazari Court, DELHI-110 054 (All purposes ..."
34,35.0,Escorts Heart Institute and Research Centre,"Okhla, New Delhi-110 065 (Cardiology, Cardioth..."
35,36.0,National Heart Institute and Research Centre,"Sapna Commercial Complex, New Delhi-110 065 (C..."
36,37.0,All Primary Health Centres.,All Primary Health Centres.
37,38.0,Charitable Hospitals reconised under law,Charitable Hospitals reconised under law
38,NaN,Any other Hospital/Institute with the approval...,Any other Hospital/Institute with the approval...
39,39.0,Rajiv Gandhi Cancer Institute and Research Centre,Rohini
40,40.0,Arya Vaidya Sala Hospital and Research Centre,"Karkardooma and South Extension, Part-1, New D..."
41,41.0,Amar Leela Hospital,"B-1/6, Janak puri, New Delhi"
42,42.0,Dr.Shroff's Charity Eye Hospital,"5027, Kedarnath Road, Dariyaganj"
43,43.0,Heart Centre,"2, Ring Road, Lajpat Nagar -IV, New Delhi"
44,44.0,Umkal Hospital and M. P. Heart Research Institute,"A520, Susant Lok. Gurgoan"
45,45.0,Kalyani Hospital,"354/2 Mehrauli Road, Gurgaon"
46,46.0,Rockland Hospital,"33, 34 Qutub Institutional Area"
47,47.0,Max Health Care Institute Ltd,"Max Devki Heart & Vescular Institute, Saket Ma..."
48,48.0,GB Pant Hospital,"Rajendra Nagar, Phone: 23233001"
49,49.0,Metro Heart Institute,"14, Ring Road,Lajpat Nagar 4, Phone: 26461157,..."
50,50.0,Fortis Hospital,"B-22, Sector 62, Noida, Phone: 9810736503, 981..."

In [37]:
import html5lib
import lxml
from bs4 import BeautifulSoup
url3="https://www.nationsonline.org/oneworld/language_code.htm"
df3=pd.read_html(url3)

HTTPError: HTTP Error 403: Forbidden

In [ ]:
df3[0]

In [ ]:
# ! pip install html5lib
# !pip install lxml
# ! pip install BeautifulSoup4

In [3]:
print('iGnani'.translate({'i':'1','G':'2','n':'3','a':'4','n':'5','i':'6'}))

iGnani

In [4]:
print('pyypyypypyppy'.replace('py','iG',3))

iGyiGyiGpyppy

In [5]:
print('The sum of {0} and {1} is {2}'.format(5,10,15))

The sum of 5 and 10 is 15

In [6]:
print('KLM'.maketrans('KLM','123'))

{75: 49, 76: 50, 77: 51}

In [7]:
print(r'\npython')

\npython

In [10]:
x=(round(4.6)-round(-4.5))

In [11]:
x

9

In [12]:
x=(round(4.5)-round(-4.5))

In [14]:
x

8

In [15]:
print('1.1'.isnumeric())

False

In [16]:
print('xy'.isalpha())

True

In [17]:
print('python'+1+2+3)

TypeError: can only concatenate str (not "int") to str